*~

*.o
*.a
*.gmo
*.omf

doc/*/*.mo
doc/*/*.xml

.deps
.libs
Makefile
Makefile.in

COPYING
aclocal.m4
autom4te.cache/
balsa-mailto-handler.desktop
balsa-mailto-handler.desktop.in
balsa.1
balsa.desktop
balsa.desktop.in
balsa.spec
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libbalsa/imap/imap_tst
libbalsa/imap/libimap-marshal.c
libbalsa/imap/libimap-marshal.h
libbalsa/libbalsa-marshal.c
libbalsa/libbalsa-marshal.h
libtool
ltmain.sh
m4/
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
sounds/balsa.soundlist
src/balsa
src/balsa-ab
stamp-h1
autoscan.log
configure.scan
