*~

*.o
*.lo
*.la
*.a
*.lo
*.la
*.gmo
*.omf
*.stamp

doc/*/*.mo
doc/*/*.xml
doc/??/*.page

COPYING
balsa.spec
po/POTFILES
po/stamp-it
sounds/balsa.soundlist
src/balsa
src/balsa-ab
libnetclient/test/start-test-env.sh
org.desktop.Balsa.metainfo.xml
po/Makevars.template
po/Rules-quot
po/balsa.pot
po/*.sed
po/*.header
po/*.sin
po/stamp-po
debian/.debhelper/**
debian/*.log
debian/*.substvars
debian/balsa/**
debian/debhelper-build-stamp
debian/files
debian/tmp/**

# "standard" build folder as indicated in README.md
/build/

# Eclipse config
.cproject
.project
.settings/**
