include:
  - project: 'GNOME/citemplates'
    file: 'templates/default-rules.yml'
  - project: 'Infrastructure/freedesktop-ci-templates'
    file: 'templates/debian.yml'
    ref: 'master'

stages:
  - prepare
  - build

.balsa-debian-cfg:
  variables:
    BASE_TAG: '2025-08-31.1'
    FDO_DISTRIBUTION_VERSION: stable
    FDO_DISTRIBUTION_TAG: "x86_64-${BASE_TAG}"

balsa-debian-container@x86_64:
  extends:
    - .balsa-debian-cfg
    - .fdo.container-build@debian
  stage: prepare
  variables:
    FDO_DISTRIBUTION_PACKAGES:
      debhelper-compat
      pkg-config
      git
      meson
      libglib2.0-dev
      libgtk-3-dev
      libfribidi-dev
      libgmime-3.0-dev
      libgnutls28-dev
      libical-dev
      libsqlite3-dev
      libwebkit2gtk-4.1-dev
      libgpgme-dev
      libxapp-dev
      libldap-dev
      libkrb5-dev
      libgcr-3-dev
      libcompfaceg1-dev
      libcanberra-gtk3-dev
      libgtksourceview-4-dev
      libsecret-1-dev
      libgspell-1-dev
      libsoup-3.0-dev
      libxml2-dev
      html2text
      yelp-tools
      zlib1g-dev
      clang-tools-19
    FDO_EXPIRES_AFTER: 4w

balsa-build-check@x86_64:
  extends:
    - .balsa-debian-cfg
    - .fdo.distribution-image@debian
  stage: build
  variables:
    SCANBUILD: "$CI_PROJECT_DIR/scan-build.sh"
  script:
    - meson setup _builddir -Dautocrypt=true -Dcanberra=true -Dcompface=true
      -Dgss=true -Dgtksourceview=true -Dhelp-files=true -Dldap=true
      -Dspell-checker=gspell -Dlibsecret=true -Dgcr=true -Dsystray=true
      -Dhtml-widget=webkit2 -Dwebdav=true
    - ninja -C _builddir scan-build
  artifacts:
    paths:
      - "_builddir/meson-logs/scanbuild/"
    when: on_failure
